//$bgColor: #2B2122; // ORIGINAL
$bgColor: #F0F0F3;
$red: #3f68da;
$purple: #000000;

// FONTS
$dv : 'ClashDisplay-Variable';
$dsb : 'ClashDisplay-Semibold';
$dm : 'ClashDisplay-Medium';
$dl : 'ClashDisplay-Light';
$gv : 'ClashGrotesk-Variable';
